# Xcode
.build/
.swiftpm/
.DS_Store
*.bak
*.xcuserdatad
*.xcworkspace
*.xcscmblueprint
xcuserdata/
DerivedData/
*.xcbuilddata
*.pbxuser
!default.pbxuser
*.mode1v3
!default.mode1v3
*.mode2v3
!default.mode2v3
*.perspectivev3
!default.perspectivev3

.xcode-dd-app/
.xcode-dd-widget/
.xcode-derived-data/

# Build artifacts & secrets
build/
*.log
ExportOptions.plist
UploadOptions.plist
